.Serverlist-page {
  font-size: 0.15rem;
  background: #fff;
  .SelectCard-page-ul{
    img{
      display: inline-block;
      vertical-align: middle;
      width: .3rem;
    }
    span{
      vertical-align: middle;
      margin-left: .1rem;
    }
    li{
      position: relative;
      padding: .1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    }
    li::after{
      content: ' ';
      background-image: url('../../../images/public/go.png');
      background-size: 100% 100%;
      width: .2rem;
      height: .2rem;
      position: absolute;
      top:.15rem;
      right:.1rem;
    }
  }


}
