* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font-family: sans-serif;
    background-color: #fff;
}

li {
    font-style: normal;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #000;
}

/*消除input内阴影*/
input[type='text'] ,input[type='number'] ,input[type='tel'] ,input[type='password']{
    -webkit-appearance: none;
    border: 0px;
    outline: none;
}
input[type='text'] ,input[type='number'] ,input[type='tel'] ,input[type='password']::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #e4e4e4;
}
input[type='text'] ,input[type='number'] ,input[type='tel'] ,input[type='password']:-moz-placeholder, textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #e4e4e4;
}
input[type='text'] ,input[type='number'] ,input[type='tel'] ,input[type='password']::-moz-placeholder, textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #e4e4e4;
}
input[type='text'] ,input[type='number'] ,input[type='tel'] ,input[type='password']:-ms-input-placeholder, textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #e4e4e4;
}

#root , .index-page{
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-right:0px;
}
